1.Sum of Odd Numbers
Write a program to find the sum of odd numbers in first N natural numbers.
Input
The input is an integer N.
Output
he output should be an integer containing the sum of odd numbers up to the given
number.


Explanation
In the given example sum of odd numbers less than

N = 10 are total = 1 + 3 + 5 + 7 + 9
So, the output should be
25.
Sample Input 1
10
Sample Output 1
25
Sample Input 2
5
Sample Output 2
9

In [ ]:
# Sum of Odd Numbers
n = int(input())
counter = 0
for num in range(n):
    if num%2!=0:
        counter+=(num)**2
print(counter)

2.You are given a positive integer N. Your task is to find the number of positive integers K <= N such that K is not divisible by any of the following numbers 2, 3, 4, 5, 6, 7, 8, 9, 10.

In the given example,

11 is not divisible by any number from 2 to 10. It is divisible by only 1, 11.So, the output should be 2

In [ ]:
# enter the numper
n = int(input("Enter the number: "))
new1 =0
number = 0
for i in range(1,n+1):
    if i % 2 != 0 and i % 3 != 0 and i % 4 != 0 and i % 5 != 0 and i % 6 != 0 and i % 7 != 0 and i % 8 != 0 and i % 9 != 0 and i % 10 != 0:
      new1+=i
      number += 1
print(number)
print(new1)

Enter the number: 200
47
4831

In [ ]:
################################################################################
n = int(input())
m = []
nos = [2,3,4,5,6,7,8,9,10]
for i in range (1,n+1,1):
  for value in nos:
    if n%i==0 and i%value!=0:
      m.append(i)
m = list(set(m))  #Alter: m = list(dict.fromkeys(m))
print(m)
count = 0
for k in m:
  count+=1
print(count)

200
[1, 2, 4, 5, 100, 8, 40, 10, 200, 50, 20, 25]
12

 3.Finding Difference
Write a program to print the absolute difference between the two given numbers.
(Absolute difference is the difference without the negative sign)Input
The first line of the input will be an integer N1.
The second line of the input will be an integer N2.Output
Print the absolute difference of the given two numbers.Explanation
For example, if the given N1 is 200 and N2 is 500
The difference in number is 200 - 500 = -300
The absolute difference is 300.

In [ ]:
n1 = float(input())
n2 = float(input())
diff = round(n1 - n2)
diff1 = float(n1 - n2)
if diff < 0 :
  print(diff*-1)
  print(diff1*-1)
elif diff == 0:
  print("ZERO")
  print("ZERO")
elif diff > 0:
  print(diff*1)
  print(diff1*1)

345.89843
846.25532
500
500.35688999999996

4.Sum of Even numbers
Write a program to find the sum of even numbers in first N natural numbers.
Input
The input is an integer N.
Output
The output should be an integer containing the sum of even numbers upto the given
number.
Explanation
In the given example
N = 5, the even natural numbers below 5 are 2, 4 Then total = 2 + 4.
So, the output should be
6.


Sample Input 1:
5
Sample Output 1:
6
Sample Input 2:
4
Sample Output 2:

5.In a bank there are two types of transactions: credit and debit. All transactions are
assigned an alphabetical ID. Credit transactions are assigned a vowel and debit
transactions are assigned a consonant. To track transactions over a year, all the
transaction IDs are combined to form a string of IDs for each customer. A customer
wishes to know the number of times he made a debit transaction immediately after a
credit transaction.
Write an algorithm to print the count of debit transactions that were made immediately
afte a credit transaction for that particular customer.
Input
The first line of the input consists of a string userString, representing the string of
transaction IDs.
Output
Print an integer representing the count of det transactions made immediately after a
credit

6.Temperature Conversion
You are given the temperature T of an object in one of Celsius, Fahrenheit, and Kelvin
scales. Write a program to print T in all scales viz Celsius, Fahrenheit, and Kelvin.
Formula to convert from Fahrenheit F to Celsius C is C = (F - 32) * 5 / 9.Formula to
convert from Kelvin K to Celsius C is C = K - 273.Here "C", "F", "K" represent that the
temperature scale is in Celsius, Fahrenheit and Kelvin scales respectively. The input
contains the temperature (a number) and the unit of the temperature scale (C,F, K)
without any space. The output contains temperature in Celsius, Fahrenheit and Kelvin
scales in each line in the format similar to input and the value of the temperature is
rounded to 2 decimal places.

In [ ]:
i = input("Enter the temperature : ")
if i[-1] == "k" or i[-1] == "K":
x = int(i[:-1])
c = x - 273
k = x
f = (9*c/5) + 32
print("Temperature in Celcius is :",c," C")
print("Temperature in Kelvin is :",k," K")
print("Temperature in Fahrenheit is :",f," F")
if i[-1] == "c" or i[-1] == "C":
x = int(i[:-1])
c = x - 273
k = x
f = (9*c/5) + 32
print("Temperature in Celcius is :",c," C")
print("Temperature in Kelvin is :",k," K")
print("Temperature in Fahrenheit is :",f," F")
if i[-1] == "f" or i[-1] == "F":
x = int(i[:-1])
c = x - 273
k = x
f = (9*c/5) + 32
print("Temperature in Celcius is :",c," C")
print("Temperature in Kelvin is :",k," K")
print("Temperature in Fahrenheit is :",f," F")

In [ ]:
t = input()
scale = t[-1]
t = float(t[:-1])
if scale == 'C':
print(f'{round(t, 2)}C')
print(f'{round(t * 9 / 5 + 32, 2)}F')
print(f'{round(t + 273, 2)}K')
elif scale == 'K':
print(f'{round(t - 273, 2)}C')
print(f'{round((t - 273) * 9 / 5 + 32, 2)}F')
print(f'{round(t, 2)}K')
elif scale == 'F':
print(f'{round((t - 32) * 5 / 9, 2)}C')
print(f'{round(t, 2)}F')
print(f'{round((t - 32) * 5 / 9 + 273, 2)}K')

7.Suppose the following expressions are used to calculate the values of L for
different values of S:
Suppose the following expressions are used to calculate the values of L for different
values of S

8.Write a Python code of a program that reads a value of S and then calculates the
value of L.

hint(1): You can import math and use math function for making squares
math.pow(number, power) Or you can simply write S**2.
hint(2): The value of S(user input) will be an integer

Example01:
Input: 120
Output: 2416.2162162162163

Example02:
Input: 3
Output: 1875
bold text