In [ ]:
#1
n=10
list1=[]
for i in range(n):
  n1 = int(input())
  list1.append(n1)
  print(list1)

1
[1]
6
[1, 6]
9
[1, 6, 9]
5
[1, 6, 9, 5]
34
[1, 6, 9, 5, 34]
6
[1, 6, 9, 5, 34, 6]
8
[1, 6, 9, 5, 34, 6, 8]
3
[1, 6, 9, 5, 34, 6, 8, 3]
7
[1, 6, 9, 5, 34, 6, 8, 3, 7]
9
[1, 6, 9, 5, 34, 6, 8, 3, 7, 9]

In [ ]:
n = input()
n1 = n.split() 
length = 0
n3 = []
for i in n1:
  length+=1
if length<=4:
  print('Not Possible')
else:
  n3 = n1[2:length-2]
print(n3)

[10, 20, 24, 25, 26, 35, 70]
['24,', '25,', '26,']

In [ ]:
list1=[]
for i in range(0,5):
  list1.append(int(input()))
for i in range(4,-1,-1):
  print(list1[i])

5
-5
100
11
0
0
11
100
-5
5

In [ ]:
#create a list named numberList
numberList=[]
# Read 5 numbers from the user into a list
for i in range(0,5):
  numberList.append(input())
#Iterate the list over backwards and print the numbers using loop
for i in range(4,-1,-1):
  print(numberList[i])

5
-5
100
1
0
0
1
100
-5
5

In [ ]:
l1 =  [1, 2, 3, 4, 5, 6, 7, 8, 9]
l2 = [10, 11, 12, -13, -14, -15, -16]
new_l = []
for i in l1:
  if i%2==0:
    new_l.append(i)
for j in l2:
  if j %2==0:
    new_l.append(j)
print(new_l)

[2, 4, 6, 8, 10, 12, -14, -16]

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list2 = [10, 11, 12, -13, -14, -15, -16]
join_list = list1 + list2
new_list = []
for i in join_list:
  if i%2==0:
    new_list.append(i)
print(new_list)

[2, 4, 6, 8, 10, 12, -14, -16]

In [ ]:
list1 = []
n = int(input())
for i in range(n):
  list1.append(int(input()))
result = []
for j in list1:
  if j not in result:
    result.append(j)
print(result)

5
4
5
4
5
7
[4, 5, 7]

In [ ]:
n = int(input())
my_list = []
for i in range(n):
  my_list.append(int(input()))
print(my_list)
max = my_list[0]
index = 0
for j in range(n):
  if (max < my_list[j]):
    max = my_list[j]
    index = j
print(max,index)

5
7
13
2
10
6
[7, 13, 2, 10, 6]
13 1

In [ ]:
# read comma seperated values into string
str1 = input()
# split string on delimiter ;
li = str1.split(",")

# create an empty list
l = []
# convert these vales into int and store into list
for i in li:
    l.append(int(i))

# print the list
print("My list", l)

# assign 0th element as largest
largest = l[0]
# assign index at 0
index = 0
# iterate through the list
for i in range(1, 4):
    # find largest value in the list
    if(largest < l[i]):
        largest = l[i]
        index = i

# print it
print(f"Largest number in the list is {largest} which was found at index {index} ")

7, 13, 2, 10, 6
My list [7, 13, 2, 10, 6]
Largest number in the list is 13 which was found at index 1

In [ ]:
l1 = [1, 2 , 2, 4, 5, 5, 7, 99, 200, 303, 70]
l2 =  [1, 1, 2, 3, 3, 3, 4, 5, 200, 500, -5]
new_l = l1 + l2
newlist = []
for i in new_l:
  if i not in newlist:
    newlist.append(i)
print(newlist)

[1, 2, 4, 5, 7, 99, 200, 303, 70, 3, 500, -5]

In [ ]:
list1 = [1, 4, 3, 2, 5]
list2 = [8, 7, 6, 9]
l1 = 0
l2 = 0
result = False
for x in list1:
  l1+=1
for y in list2:
  l2+=1
for i in range(l1):
  for j in range(l2):
    if (list1[i]==list2[j]):
      result =True
print(result)

False

In [ ]:
list1 = [1,4,3,2,6]
list2 = [5,6,9,8,7]
result = 0
for i in list1:
  for j in list2:
    if i == j:
      result=True
    else:
      result = False
print(result)

False

In [ ]:
n = int(input())
l1 = []
for i in range(n):
  l1.append(int(input()))
l2 =[]
for j in l1:
  if (j%2!=0):
    l2.append(j)
print(l2)

10
7
55
12
4
96
2
11
61
33
42
[7, 55, 11, 61, 33]

In [ ]:
str1 = ["hey", "there", " ", "what's", " ", "up", " ", "?"]
new_str = []
for j in str1:
  if (j!=" "):
    new_str.append(j)
print(new_str)

['hey', 'there', "what's", 'up', '?']

In [ ]:
input_list = ["hey","there","","what's","","up","","?"]
print("Original list:")
print(input_list)
without_empty_strings = [string for string in input_list if string != ""]
print("Modified list:")
print(without_empty_strings)

In [ ]:
n1 = int(input("Enter number of elements for list 1: "))
lst1 = []
lst2 = []
for i in range (n):
  lst1.append(int(input()))
n2=int(input("Enter number of elements for list 2: "))
for j in range(n):
  lst2.append(int(input()))
new_list=[]
lst1[-1] =lst2[0] 
new_list=lst1+lst2[1::]
print(new_list)

4
1
4
7
5
6
1
3
9
[1, 4, 7, 6, 1, 3, 9]

In [ ]:
n = int(input("Number of elements : "))
list1 = []
for num in range(n):
  list1.append(int(input()))
result = []
for i in list1:
  result.append(i**2)
print(result)

Number of elements : 7
1
2
3
4
5
6
7
[1, 4, 9, 16, 25, 36, 49]

In [ ]:
i1 = input()
i2 = input()
i3 = i1 +i2
list1 = []
for i in i3:
  if i in list

a,b,c,d
['a,b,c,d']

In [ ]:
n = int(input())
my_list = []
for x in range(n):
  my_list.append(int(input()))
print(my_list)
large = my_list[0]
index1 = 0
for i in range(len(my_list)):
  if (large>my_list[i]):
    large = my_list[i]
    index1 = i
print(large,index1)

small = my_list[0]
index2 = 0
for j in range(len(my_list)):
  if (small <my_list[j]):
    small=my_list[j]
    index2 = j
print(small,index2)

5
7
10
-5
13
6
[7, 10, -5, 13, 6]
-5 2
13 3

In [ ]:
n1 = list(input())
n2 = list(input())
common = []
for i in range(len(n1)):
  if n1[i] in n2:
    common.append(n1[i])
print(common)

13AHP
AG1PO
['1', 'A', 'P']

In [ ]:
n = int(input())
list1 = []
for i in range (n):
  list1.append(int(input()))
print(list1)
large = second= list1[0]
index = 0
for j in range(1,len(list1)):
  if (list1[j]>large):
    second = large
    large = list1[j]
    index = j
  elif (list1[j] > second and list1[j] < large):
    second = list1[j]
    index = j
print(second,index)

5
7
13
2
10
6
[7, 13, 2, 10, 6]
10 3