In [ ]:
stri = input()
count=0 
for i in stri:
  count+=1
print(count)

akash
5

In [ ]:
print("# hi\nhello world")
print("# hi\thello world")
print("# hi\'hello world")
print("# hi\\hello world")

# hi
hello world
# hi	hello world
# hi'hello world
# hi\hello world

In [ ]:
#p1
user = input()
print("Good Afternoon,"+user)

Akash
Good Afternoon,Akash

In [ ]:
letter='''Dear <|NAME|>,  you are selected!!!
              <|DATE|>
'''
letter=letter.replace(" ","")
print(letter)

akash
2021
Dear <|akash|>,
                  you are selected!!!
                              <|2021|>

In [ ]:
letter='''Dear <|NAME|>,  you are selected!!!  <|DATE|>
'''
letter=letter.replace(" ","")
print(letter)

Dear<|NAME|>,youareselected!!!<|DATE|>

In [ ]:
word = input()
length=0
for i in word:
  length+=1
for row in range(length):
  for col in range(row+1):
    print(word[col],end="")
  print()

akashh
a
ak
aka
akas
akash
akashh

In [ ]:
# Python program for the above approach
string = input()
n=0
for i in string:
  n+=1
# this is for the selection
	# of starting point
for i in range(n):
	
		# 2nd for loop is for selection
		# of ending point
  for j in range(i, n):
		
			# 3rd loop is for printing from
			# starting point to ending point
	  for k in range(i, (j + 1)):
		  print(string[k], end="")
				
			# changing the line after printing
			# from starting point to ending point
  print()

abcd
aababcabcd
bbcbcd
ccd
d

In [ ]:
# Python program to print all possible
# substrings of a given string

# Function to print all sub strings
s = input()
n=0
for i in s:
  n+=1
	# Pick starting point in outer loop
	# and lengths of different strings for
	# a given starting point
for i in range(n):
  for len in range(i+1,n+1):
	  print(s[i: n],end="")
  print()

abcd
abcdabcdabcdabcd
bcdbcdbcd
cdcd
d

In [ ]:
string = input()
length=0
for i in string:
  length+=1
output=""
if length<4:
  output=string
elif length>3:
  if string.endswith("er"):
    output=string[:length-2]
    output=output+"est"
  elif string.endswith("est"):
    output=string
  else:
    output=string+"er"
print(output)

stronger
strongest

In [ ]:
s="A B C D E F G"

print(s[::-3])
print(s[-1::-3])
print(s[:0:-3])
print(s[-1:0:-3])
print(s[::-1][::-1] is s)
print(s[::-1][::-1])
print(s[::-1][::-1] == s)
print("********")
print(s[:] == s)
print(s[:])
print(s[:] is s)

G D A
G D A
G D
G D
False
A B C D E F G
True
********
True
A B C D E F G
True

In [ ]:
val=int(input())
for i in range(1,val+1):
  for j in range(1,val-i+1):
    print(end=" ") 
  for k in range(1,i+1):
      print("*",end=" ")
  print()
for i in range(1,val):
  for j in range(0,i):
    print(end=" ")
  for k in range(0,val-i):
    print("*",end=" ")
  print()

5
    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
mystring="PYTHON"
x= 0
for i in mystring:
  x+=1
  print(mystring[0:x])
for i in mystring:
  x-=1
  print(mystring[0:x])
print

P
PY
PYT
PYTH
PYTHO
PYTHON
PYTHO
PYTH
PYT
PY
P

In [ ]:
print(
    '$100 $200 $300'.count('$'),
    '$100 $200 $300'.count('$', 5, 10),
    '$100 $200 $300'.count('$', 5)
)

3 1 2

In [ ]:
s = 'foo-bar-baz'
print(s.upper().lower())
print(s.strip('-'))
print('-'.join(s.partition('-')))
print(s.center(15))
print('-'.join(s.split('-')))

foo-bar-baz
foo-bar-baz
foo---bar-baz
  foo-bar-baz
foo-bar-baz

In [ ]:
a="A"
b=2
c=3
print(a*b**c)

AAAAAAAA

In [ ]:
word=input()
for i in word:
  print(i,":",ord(i))

hunger
h : 104
u : 117
n : 110
g : 103
e : 101
r : 114

In [ ]:
class animal:
  pass
tiger=animal()
print(tiger)

<__main__.animal object at 0x7ff0cb177bd0>

In [ ]:
#04
string = input()
times = len(string)
for i in range(times):
  if ord(string[i])==122:
    print(chr(97),end="")
  else:
    print(chr(ord(string[i])+1),end="")

ttb
uuc

In [ ]:
string = input()
time = 0
times=0
for length in string:
  time+=1
times=int(time)
for i in range(times):
  if 97< ord(string[i])>=122:
    print(chr(97),end="")
  else:
    print(chr(ord(string[i])+1),end="")

the cow
uif!dpx

In [ ]:
str1 = input()
str2 = input()
if len(str1)>len(str2):
  times=len(str1)
else:
  times=len(str2)
for i in range(times):
  if i<len(str1):
    print(str1[i],end='')
  if i<len(str2):
    print(str2[i],end='')

ijkl
ABCDENDFGH
iAjBkClDENDFGH

In [ ]:
s1 = input()
s2 = input()

n = min(len(s1), len(s2))
res = ''
for i in range(n):
    res += s1[i] + s2[i]
if n < len(s1):
    res += s1[n:]
else:
    res += s2[n:]

print(res)

ABCD
efgh
AeBfCgDh

In [ ]:
n = input()
times = len(n)
num1=0
num2=0
for i in range(times):
  if

In [ ]:
string = 'STRING' 
 
count = 1  
print (string + ', count: ' + str(count)) 
 
stringLen = len(string) 
for i in range(stringLen): 
	string = string[-1] + string[:-1] 
	if(string[stringLen - 1] == 'a'): 
		count = count + 1 
		print (string + ', count: ' + str(count)) 
		break 
	count = count + 1 
	print (string + ', count: ' + str(count))

STRING, count: 1
GSTRIN, count: 2
NGSTRI, count: 3
INGSTR, count: 4
RINGST, count: 5
TRINGS, count: 6
STRING, count: 7

In [ ]:
s = "i am baymax"
print(s[len(s)-1])
print(s[-1])

x
x

In [ ]:
#slicing
s = "i am baymax"
index=0
for i in s:
  print(i,"[",index,"]",end=', ')
  index+=1
print()
print("1 "+s[:4])
print("2 "+s[::-1])
print("3 "+s[:4:])
print("4 "+s[:-1:2])
print("5 "+s[:])
print("6 "+s[2:9:2])
print("7 "+s[:])
print("8 "+s[:4:1])
print("9 "+s[2:4])
print("10 "+s[::2])
print("11 "+s[5:-1])
print("12 "+s[5:-1])
print("13 "+s[5:-1])
print("13 "+s[5:-1])
print("14 "+s[5:-1])
print("##", s)

i [ 0 ],   [ 1 ], a [ 2 ], m [ 3 ],   [ 4 ], b [ 5 ], a [ 6 ], y [ 7 ], m [ 8 ], a [ 9 ], x [ 10 ],
1 i am
2 xamyab ma i
3 i am
4 ia am
5 i am baymax
6 a am
7 i am baymax
8 i am
9 am
10 ia amx
11 bayma
12 bayma
13 bayma
13 bayma
14 bayma
## i am baymax

In [ ]:
a = "aaa"
print(a.replace("a","k"))

kkk

In [ ]:
#6
number = input()
temp_string = ""


for item in number:   
  if len(temp_list) == 0:
    str1=temp_list+item

  elif len(temp_list) > 0:
    if  temp_list[-1] != item:
      str1 =temp_list+item

print(str1)

aakkkaaa
a

In [ ]:
# variant 1

foo = 'AAABBBBCDDBBECE'
l = []
l.append(foo[0])
for i in foo[1:]:
  if i != l[-1]:
    l.append(i)
print(*l, sep='')

ABCDBECE

In [ ]:
# variant 2

foo = 'AAABBBBCDDBBECE'
print(foo[0], end='')
for i,j in enumerate(foo[1:]):
  if j != foo[i]:
    print(j, end='')

ABCDBECE

In [ ]:
s = input()
output = ''
for i in s:
  if i not in output:
    output+=i
print(output)

AAABBBBCDDBBECE
ABCDE

In [ ]:
a=input()

b=''

for i in range(len(a)):

  if a[i] not in b:

    b+=a[i]

print(b)

AAABBBBCDDBBECE
ABCDE

In [ ]:
# Student class
class Student:
    # constructor with dept, courses and gpa as default values
    def __init__(self, name, ID, dept='MNS', courses=[], gpa=0):
        # initializing with given fields
        self.name = name
        self.ID = ID
        self.dept = dept
        self.courses = courses
        self.gpa = gpa

    # print_info method 
    def print_info(self):
        # printing info
        print('Name:', self.name)
        print('ID:', self.ID)
        print('Department:', self.dept)
        print('Courses:', self.courses)
        print('CGPA:', self.gpa)


# SDS class
class SDS:
    # constructor
    def __init__(self, year):
        # initializing variables
        self.year = year
        self.cseCount = 0
        self.mnsCount = 0
        self.cseDict = {}
        self.mnsDict = {}
        print('School of Data and Sciences', year+'! Only CSE and MNS department students can be added.')

    # add students method
    def addStudent(self, *students):
        # looping through the given no of arguments
        for student in students:
            # if student dept is cse adding to cse dict and increasing cse count
            if student.dept == 'CSE':
                self.cseDict[student.ID] = [student.name, student.gpa, student.courses]
                self.cseCount += 1
            
            # if student dept is MNS adding to mns dict and increasing mns count
            elif student.dept == 'MNS':
                self.mnsDict[student.ID] = [student.name, student.gpa, student.courses]
                self.mnsCount += 1
            
            # else printing invalid department
            else:
                print(student.dept, 'department student cannot be added to SDS')

    # printing info
    def print_info(self):
        print('Number of CSE students:', self.cseCount)
        print('Number of MNS students:', self.mnsCount)
        print('CSE Students', self.cseDict)
        print('MNS Students', self.mnsDict)



# given code
sds21 = SDS("2021")
print("*********************************************")
sds21.print_info()
print("1.================================")
s1 = Student("Maliha",21101001)
s1.print_info()
print("2.================================")
sds21.addStudent(s1)
sds21.print_info()
print("3.================================")
s2 = Student("Subha",21301001,"CSE", ["ENG091","MAT092"],3.48)
s2.print_info()
print("4.================================")
sds21.addStudent(s2)
sds21.print_info()
print("5.================================")
s3 = Student("Samiul",21305001,"MNS", ["ENG091","MAT092","PHY111"],3.01)
s4 = Student("Mohsina",21305023)
print("6.================================")
s3.print_info()
print("7.================================")
s4.print_info()
print("8.================================")
sds21.addStudent(s3,s4)
print("9.================================")
sds21.print_info()
print("10.================================")
s5 = Student("Nayla", 16101288, "BBS")
sds21.addStudent(s5)
print("11.================================")
sds21.print_info()

School of Data and Sciences 2021! Only CSE and MNS department students can be added.
*********************************************
Number of CSE students: 0
Number of MNS students: 0
CSE Students {}
MNS Students {}
1.================================
Name: Maliha
ID: 21101001
Department: MNS
Courses: []
CGPA: 0
2.================================
Number of CSE students: 0
Number of MNS students: 1
CSE Students {}
MNS Students {21101001: ['Maliha', 0, []]}
3.================================
Name: Subha
ID: 21301001
Department: CSE
Courses: ['ENG091', 'MAT092']
CGPA: 3.48
4.================================
Number of CSE students: 1
Number of MNS students: 1
CSE Students {21301001: ['Subha', 3.48, ['ENG091', 'MAT092']]}
MNS Students {21101001: ['Maliha', 0, []]}
5.================================
6.================================
Name: Samiul
ID: 21305001
Department: MNS
Courses: ['ENG091', 'MAT092', 'PHY111']
CGPA: 3.01
7.================================
Name: Mohsina
ID: 21305023
Department: MNS
Courses: []
CGPA: 0
8.================================
9.================================
Number of CSE students: 1
Number of MNS students: 3
CSE Students {21301001: ['Subha', 3.48, ['ENG091', 'MAT092']]}
MNS Students {21101001: ['Maliha', 0, []], 21305001: ['Samiul', 3.01, ['ENG091', 'MAT092', 'PHY111']], 21305023: ['Mohsina', 0, []]}
10.================================
BBS department student cannot be added to SDS
11.================================
Number of CSE students: 1
Number of MNS students: 3
CSE Students {21301001: ['Subha', 3.48, ['ENG091', 'MAT092']]}
MNS Students {21101001: ['Maliha', 0, []], 21305001: ['Samiul', 3.01, ['ENG091', 'MAT092', 'PHY111']], 21305023: ['Mohsina', 0, []]}

In [ ]:
s = "PythonIsLove"
res = s[-4:-11:-2]
print(res)

LIot

In [ ]:
n= int(input())
i = 0
while i<n:
  print(i,end="")
  i+=1
  if i == 3:
    break
 else:
    print(0)

5
012

In [ ]:
item = ['bread','pasta','fruit','veggies']
item.append('butter')
print(item)

['bread', 'pasta', 'fruit', 'veggies', 'butter']

In [ ]:
li= input()
new_li =li[0]
for i in range (len(li)):
  if li[i] != new_li [-1]:
    new_li+=(li[i])
print(new_li)

AAABBBBCDDBBECE
ABCDBECE

In [ ]:
n = int(input())
arr = [int(i) for i in input().split(' ')]
mean = sum(arr)/n
arr.sort()
if n % 2 == 0:
    median = (arr[n//2] + arr[n//2 - 1])/2
else:
    median = arr[n//2]
mode = arr[0]
modeInstances = 1
instances = 0
for i in range(1,n):
    if arr[i] == mode:
        modeInstances += 1
    elif arr[i] == arr[i - 1]:
        instances += 1
        if instances > modeInstances:
            mode = arr[i]
            modeInstances = instances
    else:
        instances = 1
print(mean)
print(median)
print(mode)

In [ ]:
input()
A=list(map(int,input().split()))
A.sort()

#mean
print('{0:.1f}'.format(sum(A)/len(A)))

#median
a=A[len(A)//2]
b=A[-(len(A)//2+1)]
print('{0:.1f}'.format((a+b)/2))

#mode
B=list(set(A))
B.sort()
C=[]
D=[]
for x in B:
    C.append(x)
    D.append(A.count(x))
m=max(D)
idx=D.index(m)
print(C[idx])

In [ ]:
import numpy as np;
import statistics;
from collections import Counter;

n = input();
ar = np.asarray(list(map(int, input().split(' '))));
print(statistics.mean(ar));
print(statistics.median(ar));
m = sorted(Counter(ar).most_common(), key=lambda x: x[1] * 10000 - x[0], reverse = True);
print(m[0])

10
64630 11735 14216 99233 14470 4978 73429 38120 51135 67060
43900
44627.5
(4978, 1)

In [ ]:
n = int(input())
nums = [int(i) for i in input().split()]

mean = sum(nums) / n

nums.sort()
median = 0
if n % 2 == 0:
    i = int(n / 2) - 1
    j = int((n + 1) / 2)
    median = (nums[i] + nums[j]) / 2
else:
    median = nums[int(n / 2)]

d = {}
for num in nums:
    if num in d:
        d[num] += 1
    else:
        d[num] = 1

mode = 0
max_appeard = 0
for k in d:
    if max_appeard == d[k] and k < mode:
        mode = k
    elif max_appeard < d[k]:
        mode = k
        max_appeard = d[k]

print(mean)
print(median)
print(mode)

10
64630 11735 14216 99233 14470 4978 73429 38120 51135 67060
43900.6
44627.5
4978

In [ ]:
list = [1,2,3,4]
list.append((5,6,7))
print(list)

[1, 2, 3, 4, (5, 6, 7)]

In [ ]:
class Student:

  def __init__ (self, name):

    self.name = name

    self.id = None

  def change_name (self, name = None):

    self.name = name

  def get_name(self): 
    return self.name

student= Student ('Hossain')

student.change_name('Hussain') 
student.change_name ()

print(student.get_name())

None

In [ ]:
i = 1
while i < 4:
  i += 1
  if i == 2:
    break
print(i)

2

In [ ]:
first_str = input()
i = int(input())
print(first_str[i::-1],end="")
print(first_str[i+1:])

12345
2
32145

In [ ]:
s = input() # initial string
reversedString=""
index = int(input()) # calculate length of string and save in index
while index > 0: 
    reversedString += s[ index - 1 ] # save the value of str[index-1] in reverseString
    index = index - 1 # decrement index
print(reversedString) # reversed string

72418
4
1427

In [ ]:
input1 = input()
find1 = input()
word=""
for i in input1:
  if i == find1:
    word+=i
    print(word)
    word=""
print(word)

This-is-CSE110
-
-
-

In [ ]:
word = input()
splt = input()
times = len(word)
for i in range(times):
  if word[i]!=splt:
    print(word[i],end="")
  else:
    print(" \n ")

This-is-CSE110
-
This

is

CSE110

In [ ]:
sentence = input()
word=""
for w in sentence :
    if w.isalpha():
        word=word+w

    elif not w.isalpha():
      print(word)
      word=""
print(word)

this is akash
this
is
akash

In [ ]:
s1 = input()
s2 = input()
print(s2[-1]+s1[-1]+s2[0]+s1[0])

abcd
efgh
hdea

In [ ]:
s1 = input()
o1 = ""
oddoreven = int(input())
if oddoreven == 1:
  for i in range(len(s1)):
    if i%2!=0:
      o1=o1+s1[i]
elif oddoreven == 2:
  for i in range(len(s1)):
    if i%2==0:
      o1=o1+s1[i]
print(o1.upper())

string
1
TIG

In [ ]:
s1 = input()
in1 = int(input())
if in1%2==0:
  in1 = in1*2
else:
  in1 = in1*3
print(in1*s1)

CSE110
4
CSE110CSE110CSE110CSE110CSE110CSE110CSE110CSE110

In [ ]:
s1 = input()
s2 = input()
s3 = s1.count(s2)
s4=""
l = len(s1)
if s3 > 0:
    s4=s1.replace(s2,"")
    print(s4)
elif s3==0 and l>3:
    s4=s1[1:-1]
    print(s4)
elif s3==0 and l<=3:
    print(s1)

eren yeager
k
ren yeage

In [ ]:
s1 = input()
l = len(s1)
cnt = 0
numls= ["0","1","2","3","4","5","6","7","8","9"]
for i in range (l):
  ck = s1[i] in numls
  if s1[i]==" " or ck == True:
    print(s1[i],end="")
  else:
    if cnt%2==0:
      print(s1[i].upper(),end="")
      cnt+=1
    else:
      print(s1[i].lower(),end="")
      cnt+=1

CSE110 Course
CsE110 cOuRsE

In [ ]:
s1 = input()
s2 = input()
l1 = len(s1)
l2 = len(s2)
count= 0
if l1!=l2:
  print("they are not anagram!!!")
else:
  for i in s1:
    if i in s2:
      count+=1
  if count == l1:
    print("anagram!!!")
  else:
    print("Not anagram!!!")

dusty
study
anagram!!!

In [ ]:
######################################################################
s = "AABBBCCAAAA"
first=0
second=1
strang1=''
strang2=''
while second<len(s):
    if second>=len(s):
        break
    elif s[first]<=s[second]:
        strang1+=s[first:second+1]
        while second<=len(s):
            second+=1
            if second>=len(s):
                break
            elif s[second]>=strang1[-1]:
                strang1+=s[second]
                if len(strang1)>len(strang2):
                    strang2=strang1
            else:
                if len(strang1)>len(strang2):
                    strang2=strang1
                strang1=''
                first=second-1
                break
    else:
        if len(s[first])>len(strang2):
            strang2=s[first]
        first+=1
        second+=1
print("Longest substring in alphabetical order is:" + strang2)

Longest substring in alphabetical order is:AABBBCC

In [ ]:
s1 = input() #taking a string input from user
large_seq = '' #set an empty string as largest consecutive sequence
priv_char = ''
seq = ''
for char in s1: #go through each charecter of the given string
  if priv_char == char: #if privious char is same as current char
    seq+=char #then ad charecter to sequence
  else: #if previous charecter is not same as current charecter
    if len(seq) > len(large_seq):   #if len of seq is larger then len of largestseq
      large_seq=seq #then update the largest sequence
    seq = char #set charecter as the sequence
    priv_char= char #update previous charecter
#update largest sequence if required
if len(seq)>len(large_seq):
  large_seq= seq
#print largest sequence
if len(large_seq)>1:
  print(large_seq)
else:
  print("NONE")

AABBCC
AA

In [ ]:
s1 = input()
max = ""
start = 0
end = 0
for i in range(len(s1)):
  if s1[i] == s1[start]:
    end = i
  else:
    str1 = s1[start:end+1]
    start = i
    if len(str1)>len(max):
      max= str1
str1 = s1[start:end+1]
if len(str1)> len(max):
  max = str1
if len(max)>1:
  print(max)
else:
  print("NONE")

AABBCC
AA