In [ ]:
 x = 4
y = 7
print(x+y)

11

In [ ]:
x = -34
y = 48
print(x-y)

-82

In [ ]:
x = 10
y = 3
print(x/y)
print(x//y)
print(x%y)
print(x**2)
print(x*2)
print((x*2 + y*2)/3)
print(-5//2)
print(5//2)
print(-5/2)

3.3333333333333335
3
1
100
20
8.666666666666666
-3
2
-2.5

In [ ]:
s = 0
for i in range(10,1,-1):
  s-=i
print(s)

-54

In [ ]:
x = 15
y = 25
print(x is y)

False

In [ ]:
txt1 = "my name is {fname},i'm {age}".format(fname= "John" ,age= 39)
print(txt1)
txt2 = " my name is {0},im am {1}".format("john",36)
print(txt2)
txt3 = "my name is {},i am {}".format("JOHN",35)
print(txt3)

my name is John,i'm 39
 my name is john,im am 36
my name is JOHN,i am 35

In [ ]:
n = input("n : ")
print(n)
n1 = float(input("n : "))
print(n1)
n2 = str(input("n : "))
print(n2)
print(type(n2))

n : hsoh
hsoh
n : 92.383
92.383
n : jioi
jioi
<class 'str'>

In [ ]:
num = input()
print(num)
num = int(num)
print(num +100)

100
100
200

In [ ]:
a = float(input())
if x%2==0:
  print("even")
elif x%2==1:
  print("odd")
else:
  print('idk')
print("end")

839.3838
odd
end

In [ ]:
num1 = int(input())
num2 = int(input())
if num1 >5 and num1<20 :
  print("both true")
if num2<30 or num2>50:
  print("one is true")
num3 = num1
print(num3)
print("foo",23,"jpoe",end=' ')
print("foo",23,"jpoe",end=' ')
print("foo",23,"jpoe",end=' ')

12
12
both true
one is true
12
foo 23 jpoe foo 23 jpoe foo 23 jpoe

In [ ]:
n =int(input())
if n%2==0:
  if n%3==0:
    print("odd and multiple")
  else:
    print("even but not multiple")

26
even but not multiple

In [ ]:
#001
temp = int(input())
if temp<50:
  print("It is cold outside")
elif temp>=50:
  print("It is warm outside")

50
It is warm outside

In [ ]:
#002
tem = int(input("What is your tempature :"))
if tem>98.6:
  print("You have Fever")
else:
  print("Normal")

What is your tempature :102
You have Fever

In [ ]:
#003
import random
n = random.randint(0,5)
x = int(input("Enter the Number :"))
if n == x :
  print("You guessed it!!!")
else:
  print("try again")

Enter the Number :5
try again

In [ ]:
#004
n1 = int(input())
n2 = int(input())
if n1>n2:
  print("x>y")
elif n1<n2:
  print("x<y")
elif n1 == n2:
  print("x=y")

22
22
x=y

In [ ]:
#005
import math
n1 = float(input("ENTER : "))
a = math.pi/(n1)
print(math.cos(a))
print(math.sin(a))
print(math.tan(a))

ENTER : 3
0.5000000000000001
0.8660254037844386
1.7320508075688767

[CSE110 Lab Assignment 1]

In [ ]:
#Task1
st_num = int(input())
nd_num = int(input())
sum = st_num+nd_num
diff = st_num-nd_num
product = st_num*nd_num
print("sum =",sum )
print("diff =",diff)
print("product =",product)

4
5
sum = 9
diff = -1
product = 20

In [ ]:
#Task2
sum =float(input())
circum = 2 * 3.14 *sum
area = 22/7 * sum**2
print("Area is ",area)
print("Circumference is ",circum)

4
Area is  50.285714285714285
Circumference is  25.12

In [ ]:
#Task3
f1 = int(input())
s1 = int(input())
if f1>s1:
  print("1st number is greater")
elif f1<s1:
  print("Second is greater")
else:
  print("The numbers are equal")

-40
-30
Second is greater

In [ ]:
#Task4
f2 = int(input())
s2 = int(input())
if f2>s2:
  print(f2-s2)
else:
  print(s2-f2)

-40
-4
36

In [ ]:
#Task5
f3 = int(input())
if f3%2==0:
  print("The nmber is even")
else:
  print("The number is odd")

22
The nmber is even

In [ ]:
#task6
f4 = int(input())
if f4%2 ==0 or f4%5==0:
  print(f4)
else:
  print("Not a multiple")

3
Not a multiple

In [ ]:
#task7
n = int(input())
if n%2==0 or n%5==0:
  if n%2==0 and n%5==0:
    print('multiple of both 2 and 5')
  print(n)
else:
  print('not multiple')

10
multiple of both 2 and 5
10

In [ ]:
#task8
n = int(input())
if n%2==0 and n%5==0:
  print(n)
else:
  print('Not multiple of 2 and 5 both')

5
Not multiple of 2 and 5 both

In [ ]:
#task9
n = int(input())
if n%2==1 and n%5==1:
  print(n)
else:
  print("NO")

12
NO

In [ ]:
#task10
n = int(input())
if n % 2 != 0 or n % 5!= 0:
  print(n)
else:
  print('no')

12
12

In [ ]:
#task11
n = int(input())
if 90<= n <=100:
  print('A')
elif 80<= n <=89:
  print('B')
elif 70<= n <=79:
  print('C')
elif 60<= n <=69:
  print('D')
elif 50<= n <=59:
  print('E')
elif 0<= n <50:
  print('F')
else:
  print("invalid")

69
D

In [ ]:
#task12
hr = int(input())
if hr<=40:
  x = hr*200
  print(x)
elif hr>40:
  z = (hr - 40)*300 
  y = 8000+z
  print(y)

100
26000

In [ ]:
#task13
sec = int(input())
remsec = sec % 60
min = int((sec -remsec)/60)
remmin = min % 60
hour = int((min - remmin)/60)
remhour = hour % 24
days = int((hour -remhour)/24)
print(f"Time {days} : hours {remhour} : minutes {remmin} : second {remsec}")

10000
Time 0 : hours 2 : minutes 46 : second 40

In [ ]:
#task14
s = int(input())
if s<100:
  l = float(3000 - (125*(s**2)))
  print(l)
elif s>=100:
  x = 4+(s**2)/14900
  l1 = float(12000/x)
  print(l1)

120
2416.2162162162163

In [ ]:
#task15
hr = int(input())
if 0 <= hr <=3:
  print("Patience is virtue")
elif 4 <= hr <=6:
  print("Breakfast")
elif 7<= hr <=11:
  print("Patience is virtue")
elif 12<= hr <=13:
  print("Lunch")
elif  hr == 14 or hr == 15:
  print("patience is virtue")
elif 16<= hr <= 17:
  print("Snacks")
elif hr == 18:
  print("patience is virtue")
elif 19 <= hr <= 20:
  print("Dinner")
elif 21<=hr <= 23:
  print("patience is virtue")
else:
  print("wrongtime")

20
Dinner

In [ ]:
hr = int(input())
if hr <0 or hr>23:
  print("wrong time")
else:
  if 4 <= hr <= 6:
    print("breakfast")
  if 12<= hr <= 13:
    print("Lunch")
  if 16<= hr <= 17:
    print("Snacks")
  if 19 <= hr <= 20:
    print("Dinner")
  if 0<=hr<=3 or 7<= hr<=11 or 14<=hr<=15 or hr == 18 or 21<= hr <= 23:
    print("Wrong time")
print("Patience is virtue")

12
Lunch
Patience is virtue

In [ ]:
count = 0
n1 = input()

while count < 5:
  print(n1)
  count+=1

i love moon
i love moon
i love moon
i love moon
i love moon
i love moon

In [ ]:
count = int(input())
limit = int(input())

while count<= limit:
  if count%2!=0:
    print(count)
  count+=1

27
56
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55

In [ ]:
def calculate (*args,val1):
  calculate(10,20,30)
print(calculate)

<function calculate at 0x7fcdcfcfc290>

In [ ]:
count =1
while count<=10: #true
  print(count)
  count = count+1
  if count==10:
    break

1
2
3
4
5
6
7
8
9

In [ ]:
count = 0
while count<5:
  count+=1
  if count ==2:
    continue
  print("hello",count)

hello 1
hello 3
hello 4
hello 5

In [ ]:
outer =1
while outer <= 2:
  inner =1
  while inner <= 3:
    print(outer,',',inner)
    inner+=1
  print("inner loop terminates")
  outer+=1
print()

In [ ]:
#006
n1 = int(input("N1: "))
n2 = int(input("N2: "))

if n2 == 0:
  print("cant devidddded by zero")
else:
  n = int(n1/n2)
  print("result:",n)

N1: 30
N2: 10
result: 3

In [ ]:
#007
fruit = input("Fruit Name : ")
if fruit == "banana":
  print("yellow")
elif fruit == "apple":
  print("red")
elif fruit=="lemon":
  print("yellow")
elif fruit=="lime":
  print("green")
elif fruit == "orange":
  print("orange")

Fruit Name : banana
yellow

In [ ]:
#008
population = int(input("Enter the population : "))
if population<=700000:
  print("you hve only one congress member")
elif 700000<poplation<1400000:
  print("yo have 2 congress member")

Enter the population : 500000
you hve only one congress member

In [ ]:
#009
fs = int(input("Final score in percent : "))
if 0 > fs > 100:
  print("invalid score")
elif 90<=fs<=100:
  print("A")
elif 80 <= fs <=89:
  print("B")
elif 70 <= fs <=79:
  print("C")
elif 65<= fs <= 69:
  print("D")
elif 0<= fs <=64:
  print("F")
else:
  print("invalid number")
print("Goodluck")

Final score in percent : -55
invalid number
Goodluck

In [ ]:
#010
x = int(input('Numeric value : '))
if x<(-10):
  print("1")
if -10 <= x < 200 :
  print("2")
if x>=200:
  print("3")

Numeric value : -11
1

In [ ]:
#011
ak = 1
if ak ==0:
  print("Zero")
elif ak == 1:
  print("one")

one

In [ ]:
a = ["1","0"]
b = ["Adam","Bella","Charlie"]
for i in a:
  for i2 in b:
    print(i2)
  print(i)

Adam
Bella
Charlie
1
Adam
Bella
Charlie
0

In [ ]:
for i in range(0,5):
  print(i)

0
1
2
3
4

In [ ]:
print('%x, %X' % (15, 15))
print('[%c]' % 65)
print('Sep = --','Ben', 25, 'California')
x = float('NaN')
print('%f, %e, %F, %E' % (x, x, x, x))
x=[1 ,2 ,3]
y=x
x[1]="middle"
print (x,y)

f, F
[A]
Sep = -- Ben 25 California
nan, nan, NAN, NAN
[1, 'middle', 3] [1, 'middle', 3]

In [ ]:
number_list = []
n = int(input("Enter the list size "))
print(n)
for i in range (0,n):
  item = int(input())
  print("Enter number at index",i)
  number_list.append(item)
print("User list is " , number_list)

Enter the list size 5
5
5
Enter number at index 0
10
Enter number at index 1
15
Enter number at index 2
20
Enter number at index 3
25
Enter number at index 4
User list is  [5, 10, 15, 20, 25]

In [ ]:
n = int(input("Enter the size of the list "))
print("\n")
num_list = list(int(num) for num in input("Enter the list items separated by space ").strip().split())[:n]

print("User list: ", num_list)

Enter the size of the list 5


Enter the list items separated by space 0 1 2 3 4 5 6
User list:  [0, 1, 2, 3, 4]

###HACKERRANK SOLUTION

In [ ]:
n = int(input())
for i in range(0,n):
  if 1<=n <=20:
    print(i**2)

5
0
1
4
9
16

In [ ]:
n = int(input())
while 1<= n <=150:
  for i in range (1,n+1):
    print(i,end="" )
  break

5
12345

In [ ]:
Input  = int(input())
Answer = ''

for i in range(1,Input+1):
    Answer += str(i)
    
print(Answer)

5
12345

In [ ]:
list(map(lambda i: print(i, end=''), [i for i in range(1, int(input()) + 1)]))

5
12345

[None, None, None, None, None]

In [ ]:
n = int(input())
print(''.join(map(str,range(1,n+1))))

5
12345

In [ ]:
print(*range(1, int(input()) + 1), sep="")

5
12345

In [ ]:
counter = 24
while counter >= -6:
  if counter ==-6:
    print(counter,end="")
  else:
    print(counter,end=",")
  counter = counter - 6

24,18,12,6,0,-6 fgf

In [ ]:
counter = 1
while counter <= 10:
  print(counter,end = ",")
  counter+=2

1,3,5,7,9,

***ASSIGNMENT 2***

In [ ]:
#Task2
fav_car = input("CAR : ")
num1 = int(input("Number : "))
count = 1
while count<=n1:
  count+=1
  print(fav_car)

CAR : Toyota
Number : 4
Toyota
Toyota
Toyota
Toyota

In [ ]:
#Task2
fav_car = input("CAR : ")
num1 = int(input("Number : "))
count = 1
for i in range(num1):
  count+=1
  print(fav_car)

CAR : toooo
Number : 5
toooo
toooo
toooo
toooo
toooo

In [ ]:
#Task 1
counter = 24
while counter >= -6:
  if counter ==-6:
    print(counter,end="")
  else:
    print(counter,end=",")
  counter = counter - 6

24,18,12,6,0,-6

In [ ]:
#Task3
sum = 0 
num = 600
while num >= 0:
  if num % 7 == 0 and num % 9 == 0:
    sum+=num
  num-=1
print(sum)

2835

In [ ]:
#Task3
sum = 0
for i in range(1,601):
  if i % 7==0 and i % 9 ==0:
    sum = sum+i
print(sum)

2835

In [ ]:
#hackerrank task2
n = int(input())
if 1 <= n <=100:
  if n%2==0 and 2<=n<=5:
    print("Not Weird")
  elif n%2==0 and 6<=n<=20:
    print("Weird")
  elif  n%2==0 and n>20:
    print("Not Weird")
  elif  n%2!=0:
    print('Weird')

24
Not Weird

In [ ]:
#Task4
sum=0
num=600
while num>=0:
  if (num%7==0 or num%9==0):
    sum = sum+num
  num -=1
print(sum)

0

In [ ]:
sum = 0
num = 600
while num>=0:
  if not(num%7==0 and num%9==0):
    if num%7==0 or num%9==0:
      sum=sum+num
  num-=1
print(sum)

39814

In [ ]:
#Todo
total=0
for count in range(1,601):  
  if(count%7==0) and (count%9==0): 
    pass     
  elif(count%7==0) or (count%9==0):    
    total=total+count
print(total)

39814

In [ ]:
total=0
for count in range(1,601):
  if(count%7==0) or (count%9==0):
    total=total+count
print(total)

42649

In [ ]:
for i in range(10,51):
  if i % 2!=0:
    print(i,end=",")

11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,

In [ ]:
sum = 0
num = 600
while num>=0:
  if not(num%7==0 and num%9==0):
    if num%7== 0 or num%9==0 :
      sum+=num
  num-=1
print(sum)

39814

In [ ]:
for i in range(10,51):
  if i %2!=0:
    print(i,end=",")

11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,

In [ ]:
n = int(input("Y : "))
even = 0
odd = 0
for i in range(1,n+1):
  if i %2==0:
    even = (i**2)+even
    even+=1
  elif i %2!=0:
    odd = (i**2) +odd
    odd += 1
result = odd - even
print(result)

Y : 20
-210

In [ ]:
n = int(input())
for i in range(1,11):
  print(n,'*',i, "=",n*i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
endOfRange = 4
for i in range(0,endOfRange+1):
  print(i)

0
1
2
3
4

In [ ]:
n = int(input())
sum = 0
x= 1
while x<=n:
  if x%2==0:
    sum = sum+(-1)*x**2
  else:
    sum = sum+x**2
  print(sum)

In [ ]:
for n in [0,1,2,3,4,5]:
    square = n**2
    print('x =',n,'= x^2 =',square)
print('The for loop is complete!')

x = 0 = x^2 = 0
x = 1 = x^2 = 1
x = 2 = x^2 = 4
x = 3 = x^2 = 9
x = 4 = x^2 = 16
x = 5 = x^2 = 25
The for loop is complete!

In [ ]:
sum = 0
odd = 0
for count in range(10):
  n = int(input())
  if n%2!=0:
    sum= sum+n
    odd+=1
    avg= sum/odd
print("Total is ",sum,"and avg is ",avg)

3
5
-44
3
54
3
77
-4
9
4
Total is  100 and avg is  16.666666666666668

In [ ]:
#t8
t = int(input())
for x in range(t):
    line =input()
    first = ""
    second = ""

    for i, c in enumerate(line):
        if (i & 1) == 0:
            first += c
        else:
            second += c
    print (first, second)

2
askash
aks sah
hacker
hce akr

In [ ]:
#t9
n = int(input())
sum=0
for i in range(n):
  if i%7==0:
    sum=sum+i
  n-=1
print(sum)

50
196

In [ ]:
#Todo
num=int(input("Enter the value of N:"))
sum=0
while num>=0:
  if (num%7==0):
    sum=sum+num
  num -=1
print(sum)

Enter the value of N:50
196

In [ ]:
#t10
cnt=0
for i in range(10):
  n = int(input())
  cnt= cnt+n
  print(cnt)

10
10
2
12
4
16
20
36
21
57
23
80
3
83
3
86
5
91
5
96

In [ ]:
#Todo11
n =int(input())
num=[]
num1=""
while n !=0:
  num.append(n%10)
  n =n//10
num1=",".join(map(str,num ))
print(num1)

235346
6,4,3,5,3,2

In [ ]:
num = int(input())
count = 0
while num>0:
  a = num%10
  num = num-a 
  num=num//10
  count+=1
  print(int(a),end=" ")

In [ ]:
a = str(input('Please give me a number: '))

for i in a[::-1]:
    print(i,end=" ")

Please give me a number: 32786
6 8 7 2 3

In [ ]:
#t12
num = int(input())
count=0
while num!=0:
  count+=1
  num = num//10
print(count)

2222
4

In [ ]:
num = int(input())
count=0
for i in str(num):
  num = int(num//10)
  count+=1
print(count)

2222
4

In [ ]:
#t13
num = int(input())
count = 0
temp = num
while temp > 0:
  temp = temp//10
  count+=1
while num!=0:
  p = 10**(count-1)
  n = num//p
  num =num % p
  if count ==1:
    print(n,end="")
  else:
    print(n,end=",")
  count-=1

32786
3,2,7,8,6

In [ ]:
num = int(input())
for num in str(num):
  print(num,end=",")

32786
3,2,7,8,6,

In [ ]:
32786%10
32786//10

3278

In [ ]:
#Todo
num=input("Enter a num:")
size=len(num)
for char in (num):
  if size>1:
    print(char,end=",")
  else:
      print(char,end="")
  size -=1

In [ ]:

num = int(input())
count = 0
while num> 0:
  num = num//10
  count+=1
  for i in str(num):
    p = 10**(count-1)
    n = int(num)//p
    num =int(num)%p
    if count==1:
      print(n,end=" ")
    else: print(n,end=",")
    count-=1

32768
3276 0.0,0.0,0.0,

In [ ]:
#t14
num = int(input())
counter = 0
x= ''
for i in range(1,num+1):
  if num % i== 0:
    counter+=1
    if i!=num:
      x=x+str(i)+","
    else:x=x+str(i)+" "
print(x,"total",counter,"divisors")

6
1,2,3,6  total 4 divisors

In [ ]:
n = int(input('Enter the value of n: '))
divisors = []
for i in range(1, n):
    if n % i == 0:
        divisors.append(i)

print(divisors)
print(len(divisors))

Enter the value of n: 6
[1, 2, 3]
3

In [ ]:
#t15
num = int(input())
total = 0
for i in range(1,num):
  if num % i== 0:
    total+=i
if total==num:
  print(num,"perfect")
else:

6
6 not perfect

In [ ]:
#t16
num = int(input())
total = 0
for i in range(1,num):
  if num % i== 0 :
    total+=1
if total==1:
  print(num,"it's a prime number")
else:
  print(num,"not a prime number")

19
19 it's a prime number

In [ ]:
#t17
quantity = int(input())
max=0
min=0
sum=0
for i in range(quantity):
  n=int(input())
  sum+=n
  if n>max:
    max=n
  if n<min:
    min=n
avg = float(sum//quantity)
print(min,max,avg)

5
10
4
1
-100
-1
-100 10 -18.0

In [ ]:
#t18
n = int(input())
for i in range(n):
  for o in range(n):
    print("+",end="")
  print()

5
+++++
+++++
+++++
+++++
+++++

In [ ]:
#t18

side = int(input("Please Enter any Side of a Square  : "))
i = 0
print("Square Star Pattern") 

while(i < side):
    j = 0
    while(j < side):      
        j = j + 1
        print('+', end = '')
    i = i + 1
    print()

Please Enter any Side of a Square  : 5
Square Star Pattern
+++++
+++++
+++++
+++++
+++++

In [ ]:
#t19
n=int(input("C :"))
m=int(input("R :"))
for i in range (1,n+1):
  for j in range(1,m+1):
    print(i,end='')
  print('')

C :4
R :6
111111
222222
333333
444444

In [ ]:
#t19
m=int(input())
n=int(input())


for i in range(m):
  for j in range(1,n+1):
    print(j,end="")
  print()

4
6
123456
123456
123456
123456

In [ ]:
n = int(input())
for i in range(1,n+1):
  for j in range(1,i+1):
    print(i,end="")
  print()

9
1
22
333
4444
55555
666666
7777777
88888888
999999999

In [ ]:
#t22
n = int(input())
bs=""
while  n!=0:
  bs=bs+str(n%2)
  n=n//2
for i in range (len(bs)-1,-1,-1):
  print(bs[i],end="")

13
1101

In [ ]:
#Todo22
num=int(input("Enter a number:"))
i=0
sum=0
while num>0:
  remainder=num%2
  sum=sum+remainder*10**i
  num//=2
  i+=1
print("binary=",sum)

Enter a number:13
binary= 1101

In [ ]:
binary = input('enter a number: ') 
decimal = 0 
for digit in binary: 
    decimal = decimal*2 + int(digit) 
print(decimal)

enter a number: 1010
10

In [ ]:
#Todo
num=input("Enter a number:")
num_1=int(num)
sum=0
for power in range(len(num)):
  sum=sum+(num_1%10)*2**power

  num_1//=10
print(sum)

In [ ]:
deci= int(input())
c=bin(deci)
print(c)

10
0b1010

In [ ]:
num=int(input("Enter the number of rows : "))
for i in range(1,num+1):
  for j in range(1,num-i+1):
    print(end=" ")
  for j in range(i,0,-1):
    print(j,end="")
  for j in range(2,i+1):
    print(j,end="")
  print()

Enter the number of rows : 9
        1
       212
      32123
     4321234
    543212345
   65432123456
  7654321234567
 876543212345678
98765432123456789

In [ ]:
#21-26 17 need to review and practice